######################################
# Exclusions for Platform IO project #
######################################
/MAZ-NAV-ROVER/.pio
/MAZ-NAV-ROVER/.vscode/.browse.c_cpp.db*
/MAZ-NAV-ROVER/.vscode/c_cpp_properties.json
/MAZ-NAV-ROVER/.vscode/launch.json
/MAZ-NAV-ROVER/.vscode/ipch
/MAZ-NAV-ROVER/.vscode/settings.json

######################################
# Exclusions for CS C++ Project      #
######################################
/MAZ-NAV-APP/.vs
/MAZ-NAV-APP/x64

##########
#  Misc. #
##########
/BOM/.vscode